<mat-toolbar>
    <div>
    <button
        mat-button
        color="primary"
        (click)='openAllMovies()'
    >
    All Movies
    </button>
    <button
        mat-button
        color="primary"
        (click)='openUserProfile()'
    >
    User Profile
    </button>
    <button
        mat-button
        color="primary"
        (click)='openFavorites()'
    >
    Favorite Movies
    </button>
    <button
        mat-button
        color="primary"
        (click)='logOut()'
    >
    Log out
    </button>
    </div>
</mat-toolbar>
