<mat-toolbar>
    
        <img class="app-logo" src='https://raw.githubusercontent.com/danielvonboros/filmopedia-angular-client/master/src/assets/filmopediaAngularLogoRosa.png' alt="filmOpedia Angular" />
    
    <span class="top-nav"></span>
    <div>
    <button
        mat-button
        (click)='openAllMovies()'
    >
    All Movies
    </button>
    <button
        mat-button
        (click)='openUserProfile()'
    >
    User Profile
    </button>
    <button
        mat-button
        (click)='openFavorites()'
    >
    Favorite Movies
    </button>
    <button
        mat-button
        (click)='logOut()'
    >
    Log out
    </button>
    </div>
</mat-toolbar>
